/* General Styling */
:root {
    --background-color: #f0f2f5;
    --text-color: #333;
    --nav-background-color: #000;
    --nav-text-color: #fff;
    --button-background-color: #000;
    --button-text-color: #fff;
    --button-hover-color: #ff6347;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    background-size: cover;
}

/* Header Styling */
header {
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    padding: 1em 0;
    text-align: center;
    border-bottom: 1px solid #444;
    position: sticky; /* Make header stick to the top */
    top: 0; /* Position at the top */
    z-index: 1000; /* Ensure it's above other content */
}

.horizontal-nav{
    display: flex;
}

.horizontal-nav li {
    margin-right:20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: var(--nav-text-color);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: var(--button-hover-color);
}

#toggleDarkMode {
    background-color: #000;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggleDarkMode img{
    width: 40px;
    height: 40px;
    filter: invert(1);
}


/* Dark Mode Styling */
body.dark-mode #toggleDarkMode {
    background-color: #fff; 
}

body.dark-mode #toggleDarkMode img{
    width: 50px;
    height: 50px;
    filter: invert(0);
}
/* Hero Section */
.hero {
    padding: 150px 20px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('Images/Background.jpeg'); /* Add a background image */
    background-size: cover;
    background-position: center;
    color: mintcream; /* Change text color for better contrast against background image */
}

.hero h1, .hero p{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Add text shadow for readability */
}

main{
    flex:1;
}

/* About Section Styling */
#about {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #fff 50%, var(--background-color) 50%);
    margin: 20px;
    border-radius: 10px;
}

#about h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#about button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#about button:hover {
    background-color: var(--button-hover-color);
}

/* Features Section Styling */
#features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.feature {
    text-align: center;
}

.feature img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1em;
    margin: 0;
    text-transform: uppercase;
}


/* Footer Styling */
footer {
    position: bottom;
    bottom: 0;
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    padding: 1em;
    text-align: center;
    border-top: 1px solid #444;
}

/* Back to Top Button */
#backToTop {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#backToTop img{
    width: 20px;
    height: 20px;
    filter: invert(1);
}

#backToTop:hover {
    background-color: var(--button-hover-color);
}

body.dark-mode #backToTop {
    background-color: transparent;
}

/* Dark Mode Styling */
body.dark-mode {
    --background-color: #3c3c3c;
    --text-color: #f0f0f0;
    --nav-background-color: #000;
    --nav-text-color: #f0f0f0;
    --button-background-color: #444;
    --button-text-color: #f0f0f0;
    --button-hover-color: #ff6347;
}

#about.dark-mode{
    background: linear-gradient(135deg, #676767 50%, var(--background-color) 50%);
}

#features.dark-mode, .feature.dark-mode {
    background-color: #676767; /* Set a dark background color for features section */
    color: var(--text-color); /* Ensure text color is appropriate */
}

header.dark-mode, footer.dark-mode {
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
}

#toggleDarkMode.dark-mode {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}

/* Responsive Design */
@media (max-width: 768px) {

    nav ul li {
        margin: 10px 0;
    }

}

/* custom scrollbar */
::-webkit-scrollbar{
    display: none;
}
